:root {
  --font-body: "Montserrat", sans-serif;
  --font-thin: 300;
  --font-medium: 500;
  --font-bold: 700;
  --font-extra-bold: 800;
  --title-size: 2.5rem;
  --subtitle-size: 1.5rem;
  --body-size: 1rem;
  // --size-h1:
}
