@forward "hero-texts";
@forward "hero-photo";
@use "../../util/" as *;

.hero-section {
  padding: 5rem 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;

  background-color: var(--tertiary-color);
  // background-color: red;

  // Responsive
  @include breakpoint-down(medium) {
    flex-direction: column;
    flex-flow: column-reverse;
    gap: 2rem;
  }
}
