.hero-texts {
  &__name {
    font-size: 7rem;
    font-weight: var(--font-extra-bold);
    color: var(--font-color);
    line-height: 7rem;
  }

  &__description {
    font-size: 1.5rem;
    font-weight: var(--font-medium);
    color: var(--disabled-color);
    line-height: 1.5rem;

    margin: 1rem 0;

    &-bold {
      font-weight: var(--font-extra-bold);
      color: var(--primary-color);
    }
  }

  &__contact-btn {
    font-weight: var(--font-extra-bold);
    background: var(--primary-color);
    color: var(--tertiary-color);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
  }
}
