@forward "logo";
@forward "nav";

.header {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 5rem;

  background: var(--primary-color);

  &__waves {
    width: 100%;
    position: absolute;
    bottom: -95%;
    left: 0;

    path {
      fill: var(--primary-color);
    }
  }
}
