.nav {
  &__link {
    color: var(--tertiary-color);
    font-weight: var(--font-bold);
    font-size: 1.5rem;

    padding: 0.5rem;

    transition: background 300ms ease-in-out;

    &:hover {
      background: var(--secondary-color);
    }
  }
}
