.footer {
  position: relative;
  padding: 2rem;

  background: var(--primary-color);

  display: flex;
  justify-content: center;
  align-items: center;

  // Waves
  &__waves {
    position: absolute;
    top: -95%;
    left: 0;

    width: 100%;
    transform: rotate(180deg);
    path {
      fill: var(--primary-color);
    }
  }

  &__content {
    color: var(--tertiary-color);
    font-weight: var(--font-bold);
    font-size: 1.5rem;
  }
}
