@use "../../util/" as *;

.proyects__proyect {
  padding: 3rem;
  background: var(--tertiary-color);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

  transition: background 200ms ease, transform 200ms ease, padding 200ms ease;
  aspect-ratio: 16/9;

  img {
    aspect-ratio: 16/9;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover {
    padding: 2rem;
  }
}
